<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>Fernando Corona | Mechanical Engineering Undergraduate | fcorona@umail.ucsb.edu</title>


	<meta name="keywords" content="">
	<meta name="description" content="">

  <link rel="stylesheet" type="text/css" href="/stylesheets/reset_fonts_grids.css" media="all">
  <link rel="stylesheet" type="text/css" href="/stylesheets/resume.css" media="all">

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">

		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Fernando Corona</h1>
					<h2>Mechanical Engineering Undergraduate</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info" style="position: relative; top: -90px; left: 100px;">

						<h3><a href="mailto:fcorona@umail.ucsb.edu">fcorona@umail.ucsb.edu</a></h3>
						<h3>(626) - 241-4635</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Objective</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
                <ul>
                  <li class="objective">
                    Goal is to obtain an internship within the field of Engineering and to obtain practical real world experience to compliment theory learned at the university level.
						      </li>
                 <li class="objective">
                    Self-motivated worker, enthusiastic leader with excellent leadership skills, and has quick learning abilities.
                  </li>
                  <li class="objective">
                    Strong organizational skills with the ability to multi-task and prioritize a heavy workload.
                  </li>
                  <li class="objective">
                    Fluent in both English and Spanish.
                  </li>
              </ul>
              </p>
						</div>
					</div><!--// .yui-gf -->
					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>University of California, Santa Barbara - College of Engineering</h2>
							<h3>Major GPA: 3.55</h3>
							<h3>Mechanical Engineering B.S, June 2014 (Anticipated)  </h3>
						</div>

            <div class="yui-u">
							<h2>South Hills High School</h2>
							<h3>GPA: 4.10</h3>
							<h3>High School Diploma, June 2010  </h3>
						</div>

				</div><!--// .yui-b -->
				</div><!--// .yui-gf -->


					<div class="yui-u first">
						<div class="yui-gf">

							<div class="yui-u first">
								<h2>Experience</h2>
							</div><!--// .yui-u -->

							<div class="yui-u">

								<div class="job">
									<h2>Gilt Edge Soccer Marketing</h2>
									<h3>Field Representative</h3>
									<h4>Jun. 2010/2011-Sep. 2010/2011</h4>
	                <p>
                    <ul>
                      <li class="experience">
                        Coordinated logistics to and from Dick’s Sporting Good locations in Southern California while promoting Yingli Solar and Concave Soccer.
                      </li>
                      <li class="experience">
                        Interfaced with managers of various Dick’s Sporting Good stores and head coordinators of soccer tournaments to promote soccer gear or Yingli Solar.
                      </li>
                    </ul>
                  </p>
                  <div class="contact">
	                   <p>Contact: John Guppy (Owner), (630) 200-5993</p>
	                   <p><i>Suite 459, 200 E. 5th Avenue Naperville, IL 60563</i></p>
								  </div>
	              </div>

								<div class="job">
									<h2>Sacred Heart Sisters</h2>
									<h3>Volunteer Work </h3>
									<h4>Summer 2005-2010</h4>
								  <p>
                   <ul>
                      <li class="experience">
                        Volunteered as a staff assistant supervising children and performing handy work.
                      </li>
                      <li class="experience">
                        Assisted the sisters in leading the retreats by setting up events held during the retreat and cleaning the cabins biannually.
                      </li>
                    </ul>
                  </p>
	                <div class="contact">
	                   <p>Contact: Sister Carmen Acosta (Coordinator), (818) 920-4141</p>
	                   <p><i>2927 S. Greenville St. Santa Ana, CA  92704</i></p>
								  </div>
	              </div>

								<div class="job last">
									<h2>Sigma Chi Omega Multicultural Fraternity Inc.</h2>
									<h3>Recruitment Chair</h3>
									<h4>Feb.2011 - Present</h4>
	                <p>
                    <ul>
                      <li class="experience">
                        Responsible for managing recruitment events for our new prospective member program.
                      </li>
                      <li class="experience">
                        Organized events and fundraisers for community service.
                      </li>
                    </ul>
                  </p>
								  <div class="contact">
	                   <p>Contact: Andrija Perovic (Alumni Advisor): (858) 775-2903</p>
	                   <p><i>3453 Richland Drive Apt. 11 Santa Barbara, CA</i></p>
								  </div>
	              </div>
							</div><!--// .yui-u -->
						</div><!--// .yui-gf -->

						</div><!--// .yui-b -->
					<!--<div class="yui-gf">-->
						<!--<div class="yui-u first">-->
							<!--<h2>Skills</h2>-->
						<!--</div>-->
						<!--<div class="yui-u">-->

								<!--<div class="talent">-->
									<!--<h2>Leadership</h2>-->
									<!--<p> Efficient at coordinating tasks during group projects while understanding that every member has an equal input. </p>-->
								<!--</div>-->

								<!--<div class="talent">-->
									<!--<h2>Collaborative</h2>-->
									<!--<p>Optimal work in a group oriented environment. Consistently work on assignments in pairs or more at my University to maximize creativity and minimize the margin of error.  </p>-->
								<!--</div>-->

								<!--<div class="talent">-->
									<!--<h2>Tech Savvy</h2>-->
									<!--<p class="minimize">Modeling mathematical theorems (e.g. 1st/2nd order differential equations) in Java and MatLab 2010.  </p>-->
								<!--</div>-->
						<!--</div>-->
					<!--</div>&lt;!&ndash;// .yui-gf &ndash;&gt;-->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>MatLab2010</li>
								<li>Strength of Machining</li>
                <li>Currently enrolled in Solid Works/AutoCAD and Dynamics</li>
								<li class="last"></li>
							</ul>

							<ul class="talent">
								<li>Java</li>
								<li>Statics</li>
                <li>Completed Calculus and Linear Algebra series</li>
								<li class="last"></li>
							</ul>

							<ul class="talent">
								<li>Machining (lathe,mill)</li>
								<li>Circuits</li>
                <li>Proficient in Microsoft: Excel, Word and PowerPoint</li>
								<li class="last"></li>
							</ul>

              
						</div>
					</div><!--// .yui-gf-->

							<div class="yui-gf last">
								<div class="yui-u first">
									<h2>Extracurricular</h2>
								</div>
								<div class="yui-u">
										<h2>	Varsity/ Club Soccer</h2>
										<h3>	LA Galaxy U-18 Developmental Soccer Academy, 2010</h3>
										<h3>	Varsity High School Letterman, 2006-2010</h3>
								</div>

		            <div class="yui-u">
									<h2>UCSB Club Soccer</h2>
									<h3>National Quarter-Finalists, 2011</h3>
									<h3></h3>
								</div>
							</div><!--// .yui-gf -->


						</div><!--// .yui-b -->

			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Fernando Corona — <a href="mailto:fcorona@umail.ucsb.edu">fcorona@umail.ucsb.edu</a> — (626) - 241-4635</p>
		</div><!--// footer -->

	</div><!-- // inner -->











</body></html>